.dashboard {
    width: 100%;
    height: 100%;

    * {
        font-family: 'Jura', sans-serif;
        color: #fff;
    }

    .main-dash {
        width: 270px;
        height: 100vh;

        .side-bar {
            width: calc(100%);
            height: 100%;
            padding: 15px;
            box-shadow: 0px 3px 3px #00000062;
            background: linear-gradient(to bottom, #d9cd6c71, #8cbaff68);

            .side-title {
                background: #8BC7FF;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 1px 3px #00000038;
            }

            .line {
                margin: 20px 0px;
                height: 1.5px;
                width: 100%;
                background: linear-gradient(to right, #d1c251, #538fff);
            }

            [class*="sidenav"] {
                h1 {
                    color: #000;
                }

                .slash {
                    border-radius: 10px;
                    padding: 10px;
                    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);;
                    &:hover {
                        background: #ffffff97;
                    }
                }
            }

            .sidenav-ul {
                .main-title {
                    color: #5AB0FF;
                }
            }

            .sidenav-ulx {
                .drop-svg {
                    cursor: pointer;
                }


                .board_create-show {
                    position: absolute;
                    right: calc(-100% - 20px);
                    width: 100%;
                    height: 400px;
                    padding: 10px;
                    background: #29292941;
                    border-radius: 10px;
                    display: grid;
                    gap: 10px;

                    img {
                        object-fit: cover;
                    }

                    .main-img {
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        height: 50px;
                    }

                    .collection-img {
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    input, select, option {
                        color: #000;
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        padding: 4px 10px;
                        font-size: 14px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }

                }

                .dropdown-ulx {
                    padding: 6.5px;
                    overflow: hidden;
                    height: 0;
                    /* Initial height 0, animated to 'auto' by GSAP */
                    opacity: 0;
                    /* Initial opacity 0, animated to 1 by GSAP */
                    display: grid;
                    gap: 5px;
                    
                    .boardtitles {
                        cursor: pointer;
                    }

                    a {
                        color: #000;
                        font-size: 13px;
                        padding: 7.5px 5px;
                        position: relative;
                        transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                        border-radius: 5px;
                        &:hover {
                            background: #5cabff97;
                        }
                    }

                    h3, p {
                        color: #000;
                    }

                    .create-board {
                        background: #29292941;
                        width: 100%;
                        height: 35px;
                        padding: 0px;
                        display: flex;
                        padding: 5px;
                        border-radius: 5px;
                        align-items: center;
                        justify-content: space-evenly;

                        p {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }


    .show-dash {
        margin: 0 auto;
        width: calc(100% - 280px);
        padding: 10px;
        background: none;
        /* background: linear-gradient(to right, #d7e4ff, #669bff); */
        height: calc(100vh - 10px);
        
        overflow-y: auto;
        
        h1 {
            color: #000;
        }
        
        .board-compo {

            .headline {
                border-radius: 10px;
                padding: 10px;
                width: 100%;
                // background: linear-gradient(to right, #8CBAFF, #99925c7a);
                background: linear-gradient(to right, #8CBAFF, #5c72997a);

                box-shadow: 0px 2px 5px #00000038;

                h1 {
                    color: #000;
                }
            }

            .board-list {
                margin: 20px 10px;
                .category {
                    padding: 10px;
                    background: linear-gradient(to right, #8CBAFF, #5c72997a);
                    border-radius: 10px;
                    box-shadow: 0px 1px 3px #00000038;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                }

                select, input {
                    border-radius: 7.5px;
                    padding: 10px;
                    outline: none;
                    color: #000;
                    background: #ffffff9f;
                    option {
                        color: #000;
                    }
                }

                .list-items {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    // flex-direction: column;
                    flex-wrap: wrap;
                    gap: 20px;
                    padding: 10px;
                    .boarding-shift {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        padding: 15px;
                        width: 250px;
                        height: 250px;
                        box-shadow: 0px 2px 5px #00000038;
                        background: linear-gradient(to right, #8cbaff4f, #a4910245);
                        * {
                            color: #000;
                        }

                    }

                    .board-item {
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background: linear-gradient(to right, #8cbaff73, #99925c78);

                    }

                }

            }
        }

    }
}