@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Krona+One&display=swap');

.signup-comp {
    width: 100%;
    height: 100vh;
    background: var(--signup-comp);
    position: relative;
    overflow: hidden;

    .signup-in-comp {
        width: 80vw;
        height: 85vh;

        .circle {
            border-radius: 50%;
            position: absolute;
            left: -17.5%;
            bottom: -20%;
            width: 28.5vw;
            height: 28.5vw;
            filter: blur(1.5px);
            background: radial-gradient(circle at 50% 0%, var(--signup-shape-light), var(--signup-shape-dark));
        }

        .box {
            transform: rotate(45deg);
            width: 150px;
            height: 150px;
            position: absolute;
            right: -75px;
            top: 30px;
            filter: blur(1.5px);
            background: radial-gradient(circle at 0% 100%, var(--signup-shape-light), var(--signup-shape-dark));
        }

        .box_dev {
            width: 15vw;
            height: 15vw;
            position: absolute;
            right: -7vw;
            bottom: -7vw;
            filter: blur(1.5px);
            border-top-left-radius: 50%;
            background: radial-gradient(circle at 50% 0%, var(--signup-shape-light), var(--signup-shape-dark));
        }

        .sign-out-comp {
            padding: 20px;
            gap: 15px;
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, var(--sign-otc-light), var(--sign-otc-dark));
            box-shadow: 0px 1px 50px 1px var(--sign-bx-otc-light);
            border-radius: 10px;
            backdrop-filter: blur(4px);
            z-index: 2;

            .int_comp {
                z-index: 3;
                height: 100%;
                width: 49%;

                h1.text-6xl {
                    font-family: "Krona One", sans-serif;
                    color: var(--sign-txt-6xl);
                }

                h1 {
                    color: #000;

                    span.highlight {
                        color: var(--sign-highlight);
                    }
                }

                .line {
                    width: 70%;
                    height: 2px;
                    border: 2px dashed var(--sign-dashline);
                }

                svg {
                    width: 100%;
                }

                p {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: #1067b8;
                }

                .sct-l {
                    color: var(--sign-sct);
                }

            }

            .line {
                width: 2px;
                height: 100%;
                border: 2px dashed var(--sign-dashline2);

            }

            .si_comp {
                z-index: 3;
                height: 100%;
                width: 49%;
                font-family: 'Jura', sans-serif;
                position: relative;
                // margin: 10rem auto;
                overflow: hidden;

                * {
                    color: var(--sign-si);
                }

                .form-sign-up {
                    width: 100%;
                    height: 100%;
                    padding: 30px 50px;

                }

                .form-header {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;

                    h1 {
                        color: #D9D9D9;
                        cursor: pointer;
                        transition: all 0.75s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }

                    .activehigh {
                        font-size: 25px;
                        cursor: default;
                        color: var(--sign-si);
                    }

                }

                .slider {
                    // background: orange;
                    z-index: 10;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    // background: orange;
                }

                .label-inputs {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                .label-input {
                    display: grid;
                    gap: 20px;
                    padding: 20px;

                    label {
                        color: var(--sign-labels);
                    }

                    input {
                        background: none;
                        outline: none;
                        border-bottom: 1px solid var(--sign-labels);
                        color: var(--sign-input);
                        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                        &::placeholder {
                            color: var(--sign-input);
                        }

                        &:hover {
                            padding-bottom: 7.5px;
                            scale: 1.05;
                        }
                    }
                }

                .error-message,
                .success-message {
                    color: var(--sign-input);
                }

                .separate {
                    color: var(--sign-input);
                    padding: 17.5px;

                }

                .button-sign {
                    margin: 20px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .connect {
                    h5 {
                        color: #fff;
                    }
                }

                .button-sign {
                    box-shadow: 0px 0px 5px #c7bb8d9b;
                    padding: 10px 20px;
                    outline: none;
                    border-radius: 7.5px;
                    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);


                    &.create-button {
                        background: #fff;

                        h5 {

                            color: #000;
                            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            // transition: all 1s ease-in-out;
                        }

                        &:hover {
                            background: var(--sign-labels);
                            scale: 1.15;

                            h5 {
                                color: #fff;
                            }
                        }
                    }

                    &.google {
                        // background: #fa3c3c;
                        background: linear-gradient(to right, #fa3c3c, #fff4a281);
                        background-size: 150% 150%; // Enlarge the gradient for a smooth animation effect
                        transition: background-size 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94); // Animate the gradient size on hover

                        &:hover {
                            background-size: 100% 100%; // Shrink the gradient on hover to animate
                        }

                    }

                    &.fbook {
                        background: linear-gradient(to right, #538FFF, #fff4a281);
                        background-size: 200% 200%; // Enlarge the gradient for a smooth animation effect
                        transition: background-size 1s ease-in-out; // Animate the gradient size on hover

                        &:hover {
                            background-size: 100% 100%; // Shrink the gradient on hover to animate
                        }
                    }
                }


                .info-sign {
                    cursor: pointer;

                    h5 {
                        color: var(--sign-input);
                        padding: 10px;
                        position: relative;

                        &::after {
                            width: 100%;
                            content: '';
                            height: 1.5px;
                            background: var(--sign-input);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                    }
                }

            }

            .box_dev {
                filter: blur(0px);
                background: radial-gradient(circle at 50% 0%, var(--signup-shape2-light), var(--signup-shape2-dark));
            }

            .box {
                filter: blur(0px);
                background: radial-gradient(circle at 0% 100%, var(--signup-shape2-light), var(--signup-shape2-dark));
            }

            .circle {
                filter: blur(0px);
                background: radial-gradient(circle at 50% 0%, var(--signup-shape2-light), var(--signup-shape2-dark));
            }
        }
    }


}