@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Krona+One&display=swap');

.signup-comp {
    width: 100%;
    height: 100vh;
    background: #FFFDF6;
    position: relative;
    overflow: hidden;
    .signup-in-comp {
        width: 80vw;
        height: 85vh;
        .circle {
            border-radius: 50%;
            position: absolute;
            left: -17.5%;
            bottom: -20%;
            width: 28.5vw;
            height: 28.5vw;
            filter: blur(1.5px);
            background: radial-gradient(circle at 50% 0%, #9ACFFF, #fff39a46);
        }
        .box {
            transform: rotate(45deg);
            width: 150px;
            height: 150px;
            position: absolute;
            right: -75px;
            top: 30px;
            filter: blur(1.5px);
            background: radial-gradient(circle at 0% 100%, #9ACFFF, #fff39a46);
        }
        .box_dev {
            width: 15vw;
            height: 15vw;
            position: absolute;
            right: -7vw;
            bottom: -7vw;
            filter: blur(1.5px);
            border-top-left-radius: 50%;
            background: radial-gradient(circle at 50% 0%, #9ACFFF, #fff39a46);   
        }
        .sign-out-comp {
            padding: 20px;
            gap: 15px;
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #99925c62, #fff39a5f);
            box-shadow: 0px 1px 50px 1px #c7bb8d78;
            border-radius: 10px;
            backdrop-filter: blur(4px);
            z-index: 2;

            .int_comp {
                z-index: 3;
                height: 100%;
                width: 49%;

                h1.text-6xl {
                    font-family: "Krona One", sans-serif;
                    color: #3173B1;
                }

                h1 {
                    color: #000;

                    span.highlight {
                        color: #E4D34B;
                    }
                }

                .line {
                    width: 70%;
                    height:2px;
                    border: 2px dashed #000;
                }

                svg {
                    width: 100%;
                }

                p {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: #1067b8;
                }

            }

            .line {
                width: 2px;
                height: 100%;
                border: 2px dashed #538FFF;

            }

            .si_comp {
                z-index: 3;
                height: 100%;
                width: 49%;
                font-family: 'Jura', sans-serif;
                position: relative;
                // margin: 10rem auto;
                overflow: hidden;

                * {
                    color: #E4D34B;
                }
                
                .form-sign-up {
                    width: 100%;
                    height: 100%;
                    padding: 30px 50px;

                }
                .form-header {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;

                    h1 {
                        color: #D9D9D9;
                        cursor: pointer;
                        transition: all 0.75s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }
                    .activehigh {
                        font-size: 25px;
                        cursor:default;
                        color: #E4D34B;
                    }
                    
                }

                .slider {
                    // background: orange;
                    z-index: 10;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    // background: orange;
                }

                .label-inputs {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                .label-input {
                    display: grid;
                    gap: 20px;
                    padding: 20px;
                    label {
                        color: #538FFF;
                    }
                    input {
                        background: none;
                        outline: none;
                        border-bottom: 1px solid #538FFF;
                        color: #000;
                        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        &::placeholder {
                            color: #000000a4;
                        }

                        &:hover {
                            padding-bottom: 7.5px;
                            scale: 1.05;
                        }
                    }
                }

                .error-message,.success-message {
                    color: #000;
                }

                .separate {
                    color: #000;
                    padding: 17.5px;
                    
                }

                .button-sign {
                    margin: 20px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .connect {
                    h5 {
                        color: #fff;
                    }
                }

                .button-sign {
                    box-shadow: 0px 0px 5px #c7bb8d9b;
                    padding: 10px 20px;
                    outline: none;
                    border-radius: 7.5px;
                    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);


                    &.create-button {
                        background: #fff;
                        h5 {
                        
                            color: #000;
                            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            // transition: all 1s ease-in-out;
                        }
    
                        &:hover {
                            background: #538FFF;
                            scale: 1.15;
    
                            h5 {
                                color: #fff;
                            }
                        }
                    }

                    &.google {
                        // background: #fa3c3c;
                        background: linear-gradient(to right, #fa3c3c, #fff4a281);
                        background-size: 150% 150%;  // Enlarge the gradient for a smooth animation effect
                        transition: background-size 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);  // Animate the gradient size on hover
                    
                        &:hover {
                          background-size: 100% 100%;  // Shrink the gradient on hover to animate
                        }
                    
                    }

                    &.fbook {
                        background: linear-gradient(to right, #538FFF, #fff4a281);
                        background-size: 200% 200%;  // Enlarge the gradient for a smooth animation effect
                        transition: background-size 1s ease-in-out;  // Animate the gradient size on hover
                    
                        &:hover {
                          background-size: 100% 100%;  // Shrink the gradient on hover to animate
                        }
                    }
                }

                
                .info-sign {
                    cursor: pointer;
                    h5 {
                        color: #000;
                        padding: 10px;
                        position: relative;
                        &::after {
                            width: 100%;
                            content: '';
                            height: 1.5px;
                            background: black;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                    }
                }

            }

            .box_dev {
                filter: blur(0px);
                background: radial-gradient(circle at 50% 0%, #538FFF, #fff39a46);
            }
            .box {
                filter: blur(0px);
                background: radial-gradient(circle at 0% 100%, #538FFF, #fff39a46);
            }
            .circle {
                filter: blur(0px);
                background: radial-gradient(circle at 50% 0%, #538FFF, #fff39a46);
            }
        }
    }


}